    <div class="text-center">
        <h1>Are you sure you want to delete this image?</h1>
        <hr />
        <form method="post" asp-action="Delete">
            <input type="submit" value="Yes" class="btn btn-danger" /> |
            <a asp-action="All">No</a>
        </form>
    </div>
